<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <nav>
        <div class="logo">
            <a href="/">My Store</a>
        </div>
        <div class="nav-links">
            <a href="/products/new" class="btn">Add New Product</a>
            <a href="/products" class="btn">See All Products</a>
        </div>
    </nav>